/* carrusel 
.carousel.slide{
    margin-top: 70px;
    margin-right: 500px;
    margin-left: 500px;
    box-shadow: 0 0 50px 10px #000000;
    display: flex;
    align-items: center;
    margin-top: 100px;
    justify-content: center;
}

    
    img {
    width: 500px;
    height: 500px;
    }
    
    button.carousel-control-next, button.carousel-control-prev {
    width: 10%;
    height: 500px;
    transition: background-color 0.4s;
    }
    
    button.carousel-control-next {
    border-bottom-left-radius: 300px;
    border-top-left-radius: 300px;
    }
    
    button.carousel-control-prev {
    border-bottom-right-radius: 300px;
    border-top-right-radius: 300px;
    }
    
    button.carousel-control-next:hover, button.carousel-control-prev:hover {
    background-color: rgba(0, 0, 0, 0.315);
    }
    
    div.carousel-indicators {
    background-color: transparent;
    position: absolute;
    top: 100%;
    }
    
    span.carousel-control-next-icon, span.carousel-control-prev-icon {
    background-color: transparent;
    }
    
    span.carousel-control-next-icon:hover, span.carousel-control-prev-icon:hover {
    background-color: #00000030;
    border-radius: 20px;
    }

    .carousel-item{
    
    box-shadow: 20px 20px 50px 5px #000000;
    border-radius: 10px;
    transition: transform 0.6s ease;
    }

